.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

      .mediaViewInfo {
        --web-view-name: Employee Edit;
        --web-view-id: Employee_Edit;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
      }
      :root {
        --web-view-ids: Employee_Edit;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
      }
      #Employee_Edit {
        position: absolute;
        width: 1920px;
        height: 1080px;
        background-color: rgba(158,194,255,1);
        overflow: hidden;
        --web-view-name: Employee Edit;
        --web-view-id: Employee_Edit;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
      }
      #Rectangle_5 {
        fill: rgba(110,156,235,1);
        stroke: rgba(112,112,112,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_5 {
        position: absolute;
        overflow: visible;
        width: 252px;
        height: 1079px;
        left: 0px;
        top: 0px;
      }
      #CloudSchool {
        left: 0px;
        top: 55px;
        position: absolute;
        overflow: visible;
        width: 255px;
        height: 61px;
        text-align: center;
        font-family: Plantagenet Cherokee;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        color: rgba(62,94,148,1);
        text-transform: capitalize;
      }
      #Navigation {
        position: absolute;
        width: 219px;
        height: 27px;
        left: 1674px;
        top: 58px;
        overflow: visible;
      }
      #home {
        left: 0px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 99px;
        height: 27px;
        text-align: center;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(62,94,148,1);
        text-transform: capitalize;
      }
      #Logout {
        left: 121px;
        top: 0px;
        position: absolute;
        overflow: visible;
        width: 99px;
        height: 27px;
        text-align: center;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(62,94,148,1);
        text-transform: capitalize;
      }
      #Page_Title {
        left: 704px;
        top: 38px;
        position: absolute;
        overflow: visible;
        width: 514px;
        height: 67px;
        text-align: center;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        color: rgba(62,94,148,1);
      }
      #Line_1 {
        fill: transparent;
        stroke: rgba(112,112,112,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Line_1 {
        overflow: visible;
        position: absolute;
        width: 1px;
        height: 1080px;
        left: 253.5px;
        top: 1.5px;
        transform: matrix(1,0,0,1,0,0);
      }
      #Group_23 {
        position: absolute;
        width: 587px;
        height: 756px;
        left: 667px;
        top: 179px;
        overflow: visible;
      }
      #Group_18 {
        position: absolute;
        width: 587px;
        height: 604px;
        left: 0px;
        top: 0px;
        overflow: visible;
      }
      #Group_16 {
        position: absolute;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 0px;
        overflow: visible;
      }
      #Rectangle_2 {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2 {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #Name {
        left: 19px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 61px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17 {
        position: absolute;
        width: 280px;
        height: 75px;
        left: 306px;
        top: 0px;
        overflow: visible;
      }
      #Rectangle_2_x {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_x {
        position: absolute;
        overflow: visible;
        width: 280px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #Michael_Will {
        left: 18px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 118px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_16_z {
        position: absolute;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 528px;
        overflow: visible;
      }
      #Rectangle_2_ {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_ {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #Emergency_Contact_Phone {
        left: 19px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 281px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17_ {
        position: absolute;
        width: 281px;
        height: 76px;
        left: 306px;
        top: 528px;
        overflow: visible;
      }
      #Rectangle_2_ba {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_ba {
        position: absolute;
        overflow: visible;
        width: 281px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #n_92-621-8915 {
        left: 18px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 138px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_16_ {
        position: absolute;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 453px;
        overflow: visible;
      }
      #Rectangle_2_bb {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bb {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #Emergency_Contact_Name {
        left: 19px;
        top: 24px;
        position: absolute;
        overflow: visible;
        width: 274px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17_ba {
        position: absolute;
        width: 281px;
        height: 75px;
        left: 306px;
        top: 453px;
        overflow: visible;
      }
      #Rectangle_2_bc {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bc {
        position: absolute;
        overflow: visible;
        width: 281px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #Will_Will {
        left: 18px;
        top: 24px;
        position: absolute;
        overflow: visible;
        width: 78px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_16_bb {
        position: absolute;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 377px;
        overflow: visible;
      }
      #Rectangle_2_bd {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bd {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #Phone_Number {
        left: 19px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 158px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17_be {
        position: absolute;
        width: 281px;
        height: 76px;
        left: 306px;
        top: 377px;
        overflow: visible;
      }
      #Rectangle_2_bf {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bf {
        position: absolute;
        overflow: visible;
        width: 281px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #n_59-613-6314 {
        left: 18px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 138px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_16_bh {
        position: absolute;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 302px;
        overflow: visible;
      }
      #Rectangle_2_bi {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bi {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #Email {
        left: 19px;
        top: 24px;
        position: absolute;
        overflow: visible;
        width: 60px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17_bk {
        position: absolute;
        width: 280px;
        height: 75px;
        left: 306px;
        top: 302px;
        overflow: visible;
      }
      #Rectangle_2_bl {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bl {
        position: absolute;
        overflow: visible;
        width: 280px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #michaelwillgmailcom {
        left: 18px;
        top: 24px;
        position: absolute;
        overflow: visible;
        width: 230px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_16_bn {
        position: absolute;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 226px;
        overflow: visible;
      }
      #Rectangle_2_bo {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bo {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #Social_Security_ {
        left: 19px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 177px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17_bq {
        position: absolute;
        width: 281px;
        height: 76px;
        left: 306px;
        top: 226px;
        overflow: visible;
      }
      #Rectangle_2_br {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_br {
        position: absolute;
        overflow: visible;
        width: 281px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #n_11-11-1123 {
        left: 18px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 119px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_16_bt {
        position: absolute;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 151px;
        overflow: visible;
      }
      #Rectangle_2_bu {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bu {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #Birthday {
        left: 19px;
        top: 24px;
        position: absolute;
        overflow: visible;
        width: 90px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17_bw {
        position: absolute;
        width: 281px;
        height: 75px;
        left: 306px;
        top: 151px;
        overflow: visible;
      }
      #Rectangle_2_bx {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_bx {
        position: absolute;
        overflow: visible;
        width: 281px;
        height: 75px;
        left: 0px;
        top: 0px;
      }
      #n_1032000 {
        left: 18px;
        top: 24px;
        position: absolute;
        overflow: visible;
        width: 111px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_16_bz {
        position: absolute;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 75px;
        overflow: visible;
      }
      #Rectangle_2_b {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_b {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #Employee_ID {
        left: 19px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 133px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_17_b {
        position: absolute;
        width: 280px;
        height: 76px;
        left: 306px;
        top: 75px;
        overflow: visible;
      }
      #Rectangle_2_ca {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_ca {
        position: absolute;
        overflow: visible;
        width: 280px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #n_ {
        left: 18px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 13px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_19 {
        position: absolute;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 604px;
        overflow: visible;
      }
      #Rectangle_2_cb {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_cb {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #Part_Time_or_Full_Time {
        left: 19px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 231px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_20 {
        position: absolute;
        width: 587px;
        height: 152px;
        left: 0px;
        top: 604px;
        overflow: visible;
      }
      #Rectangle_2_cc {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_cc {
        position: absolute;
        overflow: visible;
        width: 281px;
        height: 76px;
        left: 306px;
        top: 0px;
      }
      #Part_Time {
        left: 324px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 95px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_21 {
        position: absolute;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 76px;
        overflow: visible;
      }
      #Rectangle_2_cd {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_cd {
        position: absolute;
        overflow: visible;
        width: 306px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #Salary {
        left: 19px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 67px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      #Group_22 {
        position: absolute;
        width: 281px;
        height: 76px;
        left: 306px;
        top: 76px;
        overflow: visible;
      }
      #Rectangle_2_cf {
        fill: rgba(255,255,255,1);
        stroke: rgba(0,0,0,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
      }
      .Rectangle_2_cf {
        position: absolute;
        overflow: visible;
        width: 281px;
        height: 76px;
        left: 0px;
        top: 0px;
      }
      #n_00000 {
        left: 18px;
        top: 25px;
        position: absolute;
        overflow: visible;
        width: 81px;
        white-space: nowrap;
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        color: rgba(0,0,0,1);
      }
      table {
        text-align: center;
      }
      td, th {
        border: 1px solid black;
        padding: 0 10px 0 10px;
      }