
$color_type_0: rgb(70, 70, 70);
$color_type_1: rgb(79, 236, 161);

$font_type_0: 400 128px/1.36 "Nunito Sans", Helvetica, Arial, serif;

.section1 {
  @include flex-column;
  position: relative;
  flex-grow: 1;
  min-height: 175px;
}
.flexCol {
  @include flex-column;
  position: relative;
  flex-grow: 1;
}
.rect {
  background-color: $color_type_1;
  outline: 6px solid rgb(70, 70, 70);
  outline-offset: -6px;
  position: relative;
  min-height: 140px;
}
.flexCol__cell {
  margin-top: -140px;
  @include flex-column;
  position: relative;
}
.hero_title2 {
  @include font-face($font_type_0, $color_type_0, 0px);
  width: 65.97%;
  position: relative;
  flex-grow: 1;
  margin: 0px auto;
}
