<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Employee List</title>
<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Employee List;
		--web-view-id: Employee_List;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Employee_List;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Employee_List {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,242,1);
		overflow: hidden;
		--web-view-name: Employee List;
		--web-view-id: Employee_List;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_5 {
		fill: rgba(158,194,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 252px;
		height: 1079px;
		left: 0px;
		top: 0px;
	}
	#Monterey {
		left: 0px;
		top: 55px;
		position: absolute;
		overflow: visible;
		width: 255px;
		height: 61px;
		text-align: center;
		font-family: Plantagenet Cherokee;
		font-style: normal;
		font-weight: normal;
		font-size: 42px;
		color: rgba(62,94,148,1);
		text-transform: capitalize;
	}
	#Navigation {
		position: absolute;
		width: 219px;
		height: 27px;
		left: 1674px;
		top: 58px;
		overflow: visible;
	}
	#home {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 99px;
		height: 27px;
		text-align: center;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(62,94,148,1);
		text-transform: capitalize;
	}
	#Logout {
		left: 121px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 99px;
		height: 27px;
		text-align: center;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(62,94,148,1);
		text-transform: capitalize;
	}
	#Page_Title {
		left: 745px;
		top: 38px;
		position: absolute;
		overflow: visible;
		width: 431px;
		height: 67px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(62,94,148,1);
	}
	#Student_List_Table {
		position: absolute;
		width: 1176.5px;
		height: 1080px;
		left: 253.5px;
		top: 1.5px;
		overflow: visible;
	}
	#Line_1 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 1080px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Student_List_Table_s {
		position: absolute;
		width: 939px;
		height: 276px;
		left: 237.5px;
		top: 256.5px;
		overflow: visible;
	}
	#Group_11 {
		position: absolute;
		width: 939px;
		height: 55px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1 {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 125px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_10 {
		position: absolute;
		width: 925px;
		height: 55px;
		left: 14px;
		top: 0px;
		overflow: visible;
	}
	#Student_ID {
		left: 0px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 97px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_5 {
		position: absolute;
		width: 166px;
		height: 55px;
		left: 759px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_y {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_y {
		position: absolute;
		overflow: visible;
		width: 166px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Actions {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 73px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_4 {
		position: absolute;
		width: 302px;
		height: 55px;
		left: 457px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ {
		position: absolute;
		overflow: visible;
		width: 302px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Email {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 51px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_3 {
		position: absolute;
		width: 124px;
		height: 55px;
		left: 333px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ba {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ba {
		position: absolute;
		overflow: visible;
		width: 124px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Birthday {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 82px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_2 {
		position: absolute;
		width: 222px;
		height: 55px;
		left: 111px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bb {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bb {
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Name {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 48px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_6 {
		position: absolute;
		width: 939px;
		height: 55px;
		left: 0px;
		top: 221px;
		overflow: visible;
	}
	#Group_1 {
		position: absolute;
		width: 125px;
		height: 55px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bc {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bc {
		position: absolute;
		overflow: visible;
		width: 125px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#n_ {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 10px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		color: rgba(0,0,0,1);
	}
	#Group_5_bd {
		position: absolute;
		width: 166px;
		height: 55px;
		left: 773px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_be {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_be {
		position: absolute;
		overflow: visible;
		width: 166px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_4_bf {
		position: absolute;
		width: 302px;
		height: 55px;
		left: 471px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bg {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bg {
		position: absolute;
		overflow: visible;
		width: 302px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#LuciusNikolaushotmailcom {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 216px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_3_bi {
		position: absolute;
		width: 124px;
		height: 55px;
		left: 347px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bj {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bj {
		position: absolute;
		overflow: visible;
		width: 124px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#n_1042000 {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_2_bl {
		position: absolute;
		width: 222px;
		height: 55px;
		left: 125px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bm {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bm {
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Nina_Runte {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_7 {
		position: absolute;
		width: 939px;
		height: 55px;
		left: 0px;
		top: 166px;
		overflow: visible;
	}
	#Group_1_bp {
		position: absolute;
		width: 125px;
		height: 55px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bq {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bq {
		position: absolute;
		overflow: visible;
		width: 125px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#n__br {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 10px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_5_bs {
		position: absolute;
		width: 166px;
		height: 55px;
		left: 773px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bt {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bt {
		position: absolute;
		overflow: visible;
		width: 166px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_4_bu {
		position: absolute;
		width: 302px;
		height: 55px;
		left: 471px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bv {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bv {
		position: absolute;
		overflow: visible;
		width: 302px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Nyasia_Jast50gmailcom {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 195px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_3_bx {
		position: absolute;
		width: 124px;
		height: 55px;
		left: 347px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_by {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_by {
		position: absolute;
		overflow: visible;
		width: 124px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#n_1032000 {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_2_b {
		position: absolute;
		width: 222px;
		height: 55px;
		left: 125px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_b {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_b {
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Micheal_Will {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_1_ca {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ca {
		position: absolute;
		overflow: visible;
		width: 302px;
		height: 54px;
		left: 471px;
		top: 112px;
	}
	#Group_8 {
		position: absolute;
		width: 939px;
		height: 54px;
		left: 0px;
		top: 112px;
		overflow: visible;
	}
	#Group_1_b {
		position: absolute;
		width: 125px;
		height: 54px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cb {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cb {
		position: absolute;
		overflow: visible;
		width: 125px;
		height: 54px;
		left: 0px;
		top: 0px;
	}
	#n__b {
		left: 14px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 10px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_5_b {
		position: absolute;
		width: 166px;
		height: 54px;
		left: 773px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cc {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cc {
		position: absolute;
		overflow: visible;
		width: 166px;
		height: 54px;
		left: 0px;
		top: 0px;
	}
	#lloydandersongmailcom {
		left: 485px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 190px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_3_cb {
		position: absolute;
		width: 124px;
		height: 54px;
		left: 347px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cd {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cd {
		position: absolute;
		overflow: visible;
		width: 124px;
		height: 54px;
		left: 0px;
		top: 0px;
	}
	#n_1022000 {
		left: 13px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_2_ce {
		position: absolute;
		width: 222px;
		height: 54px;
		left: 125px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cf {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cf {
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 54px;
		left: 0px;
		top: 0px;
	}
	#Lloyd_Anderson_V {
		left: 13px;
		top: 17px;
		position: absolute;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_9 {
		position: absolute;
		width: 939px;
		height: 55px;
		left: 0px;
		top: 57px;
		overflow: visible;
	}
	#Group_1_ci {
		position: absolute;
		width: 125px;
		height: 55px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cj {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cj {
		position: absolute;
		overflow: visible;
		width: 125px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#n__ck {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 10px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_5_cl {
		position: absolute;
		width: 166px;
		height: 55px;
		left: 773px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cm {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cm {
		position: absolute;
		overflow: visible;
		width: 166px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Group_4_cn {
		position: absolute;
		width: 302px;
		height: 55px;
		left: 471px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_co {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_co {
		position: absolute;
		overflow: visible;
		width: 302px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Marlen_Johnshotmailcom {
		left: 14px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 204px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_3_cq {
		position: absolute;
		width: 124px;
		height: 55px;
		left: 347px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cr {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cr {
		position: absolute;
		overflow: visible;
		width: 124px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#n_1012000 {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_2_ct {
		position: absolute;
		width: 222px;
		height: 55px;
		left: 125px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cu {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cu {
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 55px;
		left: 0px;
		top: 0px;
	}
	#Marsha_Kilback {
		left: 13px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 110px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Group_12 {
		position: absolute;
		width: 83px;
		height: 25px;
		left: 799px;
		top: 72px;
		overflow: visible;
	}
	#Icon_awesome-edit {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit {
		overflow: visible;
		position: absolute;
		width: 28.13px;
		height: 25px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete {
		overflow: visible;
		position: absolute;
		width: 21px;
		height: 25px;
		left: 62px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_13 {
		position: absolute;
		width: 83px;
		height: 25px;
		left: 799px;
		top: 127px;
		overflow: visible;
	}
	#Icon_awesome-edit_c {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit_c {
		overflow: visible;
		position: absolute;
		width: 28.13px;
		height: 25px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete_c {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete_c {
		overflow: visible;
		position: absolute;
		width: 21px;
		height: 25px;
		left: 62px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_14 {
		position: absolute;
		width: 83px;
		height: 25px;
		left: 799px;
		top: 181px;
		overflow: visible;
	}
	#Icon_awesome-edit_da {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit_da {
		overflow: visible;
		position: absolute;
		width: 28.13px;
		height: 25px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete_da {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete_da {
		overflow: visible;
		position: absolute;
		width: 21px;
		height: 25px;
		left: 62px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_15 {
		position: absolute;
		width: 83px;
		height: 25px;
		left: 799px;
		top: 236px;
		overflow: visible;
	}
	#Icon_awesome-edit_db {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit_db {
		overflow: visible;
		position: absolute;
		width: 28.13px;
		height: 25px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete_db {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete_db {
		overflow: visible;
		position: absolute;
		width: 21px;
		height: 25px;
		left: 62px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
</style>

</head>

<body>
<div id="Employee_List">
	<svg class="Rectangle_5">
		<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="252" height="1079">
		</rect>
	</svg>
	<div id="Monterey">
		<span>Monterey</span>
	</div>
	<div id="Navigation">
		<div id="home">
			<span>home</span>
		</div>
		<div id="Logout">
			<span>Logout</span>
		</div>
	</div>
	<div id="Page_Title">
		<span>Employee List</span>
	</div>
	<div id="Student_List_Table">
		<svg class="Line_1" viewBox="0 0 1 1080">
			<path id="Line_1" d="M 0 0 L 0 1080">
			</path>
		</svg>
		<div id="Student_List_Table_s">
			<div id="Group_11">
				<svg class="Rectangle_1">
					<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="125" height="55">
					</rect>
				</svg>
				<div id="Group_10">
					<div id="Student_ID">
						<span>Employee ID</span>
					</div>
					<div id="Group_5">
						<svg class="Rectangle_1_y">
							<rect id="Rectangle_1_y" rx="0" ry="0" x="0" y="0" width="166" height="55">
							</rect>
						</svg>
						<div id="Actions">
							<span>Actions</span>
						</div>
					</div>
					<div id="Group_4">
						<svg class="Rectangle_1_">
							<rect id="Rectangle_1_" rx="0" ry="0" x="0" y="0" width="302" height="55">
							</rect>
						</svg>
						<div id="Email">
							<span>Email</span>
						</div>
					</div>
					<div id="Group_3">
						<svg class="Rectangle_1_ba">
							<rect id="Rectangle_1_ba" rx="0" ry="0" x="0" y="0" width="124" height="55">
							</rect>
						</svg>
						<div id="Birthday">
							<span>Birthday</span>
						</div>
					</div>
					<div id="Group_2">
						<svg class="Rectangle_1_bb">
							<rect id="Rectangle_1_bb" rx="0" ry="0" x="0" y="0" width="222" height="55">
							</rect>
						</svg>
						<div id="Name">
							<span>Name</span>
						</div>
					</div>
				</div>
			</div>
			<div id="Group_6">
				<div id="Group_1">
					<svg class="Rectangle_1_bc">
						<rect id="Rectangle_1_bc" rx="0" ry="0" x="0" y="0" width="125" height="55">
						</rect>
					</svg>
					<div id="n_">
						<span>4</span>
					</div>
				</div>
				<div id="Group_5_bd">
					<svg class="Rectangle_1_be">
						<rect id="Rectangle_1_be" rx="0" ry="0" x="0" y="0" width="166" height="55">
						</rect>
					</svg>
				</div>
				<div id="Group_4_bf">
					<svg class="Rectangle_1_bg">
						<rect id="Rectangle_1_bg" rx="0" ry="0" x="0" y="0" width="302" height="55">
						</rect>
					</svg>
					<div id="LuciusNikolaushotmailcom">
						<span>Lucius.Nikolaus@hotmail.com</span>
					</div>
				</div>
				<div id="Group_3_bi">
					<svg class="Rectangle_1_bj">
						<rect id="Rectangle_1_bj" rx="0" ry="0" x="0" y="0" width="124" height="55">
						</rect>
					</svg>
					<div id="n_1042000">
						<span>01/04/2000</span>
					</div>
				</div>
				<div id="Group_2_bl">
					<svg class="Rectangle_1_bm">
						<rect id="Rectangle_1_bm" rx="0" ry="0" x="0" y="0" width="222" height="55">
						</rect>
					</svg>
					<div id="Nina_Runte">
						<span>Nina Runte</span>
					</div>
				</div>
			</div>
			<div id="Group_7">
				<div id="Group_1_bp">
					<svg class="Rectangle_1_bq">
						<rect id="Rectangle_1_bq" rx="0" ry="0" x="0" y="0" width="125" height="55">
						</rect>
					</svg>
					<div id="n__br">
						<span>3</span>
					</div>
				</div>
				<div id="Group_5_bs">
					<svg class="Rectangle_1_bt">
						<rect id="Rectangle_1_bt" rx="0" ry="0" x="0" y="0" width="166" height="55">
						</rect>
					</svg>
				</div>
				<div id="Group_4_bu">
					<svg class="Rectangle_1_bv">
						<rect id="Rectangle_1_bv" rx="0" ry="0" x="0" y="0" width="302" height="55">
						</rect>
					</svg>
					<div id="Nyasia_Jast50gmailcom">
						<span>Nyasia_Jast50@gmail.com</span>
					</div>
				</div>
				<div id="Group_3_bx">
					<svg class="Rectangle_1_by">
						<rect id="Rectangle_1_by" rx="0" ry="0" x="0" y="0" width="124" height="55">
						</rect>
					</svg>
					<div id="n_1032000">
						<span>01/03/2000</span>
					</div>
				</div>
				<div id="Group_2_b">
					<svg class="Rectangle_1_b">
						<rect id="Rectangle_1_b" rx="0" ry="0" x="0" y="0" width="222" height="55">
						</rect>
					</svg>
					<div id="Micheal_Will">
						<span>Micheal Will</span>
					</div>
				</div>
			</div>
			<svg class="Rectangle_1_ca">
				<rect id="Rectangle_1_ca" rx="0" ry="0" x="0" y="0" width="302" height="54">
				</rect>
			</svg>
			<div id="Group_8">
				<div id="Group_1_b">
					<svg class="Rectangle_1_cb">
						<rect id="Rectangle_1_cb" rx="0" ry="0" x="0" y="0" width="125" height="54">
						</rect>
					</svg>
					<div id="n__b">
						<span>2</span>
					</div>
				</div>
				<div id="Group_5_b">
					<svg class="Rectangle_1_cc">
						<rect id="Rectangle_1_cc" rx="0" ry="0" x="0" y="0" width="166" height="54">
						</rect>
					</svg>
				</div>
				<div id="lloydandersongmailcom">
					<span>lloydanderson@gmail.com</span>
				</div>
				<div id="Group_3_cb">
					<svg class="Rectangle_1_cd">
						<rect id="Rectangle_1_cd" rx="0" ry="0" x="0" y="0" width="124" height="54">
						</rect>
					</svg>
					<div id="n_1022000">
						<span>01/02/2000</span>
					</div>
				</div>
				<div id="Group_2_ce">
					<svg class="Rectangle_1_cf">
						<rect id="Rectangle_1_cf" rx="0" ry="0" x="0" y="0" width="222" height="54">
						</rect>
					</svg>
					<div id="Lloyd_Anderson_V">
						<span>Lloyd Anderson V</span>
					</div>
				</div>
			</div>
			<div id="Group_9">
				<div id="Group_1_ci">
					<svg class="Rectangle_1_cj">
						<rect id="Rectangle_1_cj" rx="0" ry="0" x="0" y="0" width="125" height="55">
						</rect>
					</svg>
					<div id="n__ck">
						<span>1</span>
					</div>
				</div>
				<div id="Group_5_cl">
					<svg class="Rectangle_1_cm">
						<rect id="Rectangle_1_cm" rx="0" ry="0" x="0" y="0" width="166" height="55">
						</rect>
					</svg>
				</div>
				<div id="Group_4_cn">
					<svg class="Rectangle_1_co">
						<rect id="Rectangle_1_co" rx="0" ry="0" x="0" y="0" width="302" height="55">
						</rect>
					</svg>
					<div id="Marlen_Johnshotmailcom">
						<span>Marlen_Johns@hotmail.com</span>
					</div>
				</div>
				<div id="Group_3_cq">
					<svg class="Rectangle_1_cr">
						<rect id="Rectangle_1_cr" rx="0" ry="0" x="0" y="0" width="124" height="55">
						</rect>
					</svg>
					<div id="n_1012000">
						<span>01/01/2000</span>
					</div>
				</div>
				<div id="Group_2_ct">
					<svg class="Rectangle_1_cu">
						<rect id="Rectangle_1_cu" rx="0" ry="0" x="0" y="0" width="222" height="55">
						</rect>
					</svg>
					<div id="Marsha_Kilback">
						<span>Marsha Kilback</span>
					</div>
				</div>
			</div>
			<!-- Row 1 -->
			<div id="Group_12">
				<!-- Go to the Edit Page -->
				<a href="/employee_edit">
					<svg class="Icon_awesome-edit" viewBox="0 0.007 28.13 25">
						<path id="Icon_awesome-edit" d="M 19.66204261779785 4.065440654754639 L 24.06719779968262 8.470598220825195 C 24.25278282165527 8.656181335449219 24.25278282165527 8.958974838256836 24.06719779968262 9.144557952880859 L 13.40105533599854 19.81070327758789 L 8.86892032623291 20.31373023986816 C 8.263333320617676 20.38210296630859 7.750537872314453 19.86930847167969 7.818910598754883 19.26372146606445 L 8.321938514709473 14.73158550262451 L 18.98808288574219 4.065440654754639 C 19.17366600036621 3.879857540130615 19.47645950317383 3.879857540130615 19.66204261779785 4.065440654754639 Z M 27.57374382019043 2.947058200836182 L 25.19046401977539 0.5637800693511963 C 24.44813346862793 -0.1785523742437363 23.24184036254883 -0.1785523742437363 22.49462699890137 0.5637800693511963 L 20.76577186584473 2.292633533477783 C 20.58019065856934 2.478216648101807 20.58019065856934 2.781010150909424 20.76577186584473 2.966593027114868 L 25.17092895507812 7.371749401092529 C 25.35651206970215 7.557332515716553 25.65930557250977 7.557332515716553 25.84488868713379 7.371749401092529 L 27.57374382019043 5.64289665222168 C 28.31607437133789 4.895679950714111 28.31607437133789 3.689390182495117 27.57374382019043 2.947057723999023 Z M 18.753662109375 16.90974617004395 L 18.753662109375 21.88142013549805 L 3.1256103515625 21.88142013549805 L 3.1256103515625 6.253367900848389 L 14.3485050201416 6.253367900848389 C 14.50478553771973 6.253367900848389 14.65129852294922 6.189879417419434 14.7636251449585 6.082436084747314 L 16.71713066101074 4.128929615020752 C 17.08829689025879 3.757763385772705 16.8245735168457 3.127757787704468 16.30201148986816 3.127757787704468 L 2.344207763671875 3.127757787704468 C 1.050009727478027 3.127757787704468 0 4.177767276763916 0 5.471965312957764 L 0 22.66282272338867 C 0 23.9570198059082 1.050009727478027 25.00703048706055 2.344207763671875 25.00703048706055 L 19.53506469726562 25.00703048706055 C 20.82926177978516 25.00703048706055 21.8792724609375 23.9570198059082 21.8792724609375 22.66282272338867 L 21.8792724609375 14.95623970031738 C 21.8792724609375 14.43367671966553 21.24926567077637 14.17483711242676 20.87810134887695 14.54111957550049 L 18.92459487915039 16.49462699890137 C 18.8171501159668 16.60695266723633 18.753662109375 16.75346565246582 18.753662109375 16.90974617004395 Z">
						</path>
					</svg>
				</a>
				<svg class="Icon_material-delete" viewBox="7.5 4.5 21 25">
					<path id="Icon_material-delete" d="M 9 26.72222328186035 C 9 28.25 10.35000038146973 29.5 12 29.5 L 24 29.5 C 25.64999961853027 29.5 27 28.25 27 26.72222328186035 L 27 10.05555534362793 L 9 10.05555534362793 L 9 26.72222328186035 Z M 28.5 5.888888835906982 L 23.25 5.888888835906982 L 21.75 4.5 L 14.25 4.5 L 12.75 5.888888835906982 L 7.5 5.888888835906982 L 7.5 8.666666030883789 L 28.5 8.666666030883789 L 28.5 5.888888835906982 Z">
					</path>
				</svg>
			</div>
			<!-- Row 2 -->
			<div id="Group_13">
				<!-- Go to the Edit Page -->
				<a href="/employee_edit">
					<svg class="Icon_awesome-edit_c" viewBox="0 0.007 28.13 25">
						<path id="Icon_awesome-edit_c" d="M 19.66204261779785 4.065440654754639 L 24.06719779968262 8.470598220825195 C 24.25278282165527 8.656181335449219 24.25278282165527 8.958974838256836 24.06719779968262 9.144557952880859 L 13.40105533599854 19.81070327758789 L 8.86892032623291 20.31373023986816 C 8.263333320617676 20.38210296630859 7.750537872314453 19.86930847167969 7.818910598754883 19.26372146606445 L 8.321938514709473 14.73158550262451 L 18.98808288574219 4.065440654754639 C 19.17366600036621 3.879857540130615 19.47645950317383 3.879857540130615 19.66204261779785 4.065440654754639 Z M 27.57374382019043 2.947058200836182 L 25.19046401977539 0.5637800693511963 C 24.44813346862793 -0.1785523742437363 23.24184036254883 -0.1785523742437363 22.49462699890137 0.5637800693511963 L 20.76577186584473 2.292633533477783 C 20.58019065856934 2.478216648101807 20.58019065856934 2.781010150909424 20.76577186584473 2.966593027114868 L 25.17092895507812 7.371749401092529 C 25.35651206970215 7.557332515716553 25.65930557250977 7.557332515716553 25.84488868713379 7.371749401092529 L 27.57374382019043 5.64289665222168 C 28.31607437133789 4.895679950714111 28.31607437133789 3.689390182495117 27.57374382019043 2.947057723999023 Z M 18.753662109375 16.90974617004395 L 18.753662109375 21.88142013549805 L 3.1256103515625 21.88142013549805 L 3.1256103515625 6.253367900848389 L 14.3485050201416 6.253367900848389 C 14.50478553771973 6.253367900848389 14.65129852294922 6.189879417419434 14.7636251449585 6.082436084747314 L 16.71713066101074 4.128929615020752 C 17.08829689025879 3.757763385772705 16.8245735168457 3.127757787704468 16.30201148986816 3.127757787704468 L 2.344207763671875 3.127757787704468 C 1.050009727478027 3.127757787704468 0 4.177767276763916 0 5.471965312957764 L 0 22.66282272338867 C 0 23.9570198059082 1.050009727478027 25.00703048706055 2.344207763671875 25.00703048706055 L 19.53506469726562 25.00703048706055 C 20.82926177978516 25.00703048706055 21.8792724609375 23.9570198059082 21.8792724609375 22.66282272338867 L 21.8792724609375 14.95623970031738 C 21.8792724609375 14.43367671966553 21.24926567077637 14.17483711242676 20.87810134887695 14.54111957550049 L 18.92459487915039 16.49462699890137 C 18.8171501159668 16.60695266723633 18.753662109375 16.75346565246582 18.753662109375 16.90974617004395 Z">
						</path>
					</svg>
				</a>
				<svg class="Icon_material-delete_c" viewBox="7.5 4.5 21 25">
					<path id="Icon_material-delete_c" d="M 9 26.72222328186035 C 9 28.25 10.35000038146973 29.5 12 29.5 L 24 29.5 C 25.64999961853027 29.5 27 28.25 27 26.72222328186035 L 27 10.05555534362793 L 9 10.05555534362793 L 9 26.72222328186035 Z M 28.5 5.888888835906982 L 23.25 5.888888835906982 L 21.75 4.5 L 14.25 4.5 L 12.75 5.888888835906982 L 7.5 5.888888835906982 L 7.5 8.666666030883789 L 28.5 8.666666030883789 L 28.5 5.888888835906982 Z">
					</path>
				</svg>
			</div>
			<!-- Row 3 -->
			<div id="Group_14">
				<!-- Go to the Edit Page -->
				<a href="/employee_edit">
					<svg class="Icon_awesome-edit_da" viewBox="0 0.007 28.13 25">
						<path id="Icon_awesome-edit_da" d="M 19.66204261779785 4.065440654754639 L 24.06719779968262 8.470598220825195 C 24.25278282165527 8.656181335449219 24.25278282165527 8.958974838256836 24.06719779968262 9.144557952880859 L 13.40105533599854 19.81070327758789 L 8.86892032623291 20.31373023986816 C 8.263333320617676 20.38210296630859 7.750537872314453 19.86930847167969 7.818910598754883 19.26372146606445 L 8.321938514709473 14.73158550262451 L 18.98808288574219 4.065440654754639 C 19.17366600036621 3.879857540130615 19.47645950317383 3.879857540130615 19.66204261779785 4.065440654754639 Z M 27.57374382019043 2.947058200836182 L 25.19046401977539 0.5637800693511963 C 24.44813346862793 -0.1785523742437363 23.24184036254883 -0.1785523742437363 22.49462699890137 0.5637800693511963 L 20.76577186584473 2.292633533477783 C 20.58019065856934 2.478216648101807 20.58019065856934 2.781010150909424 20.76577186584473 2.966593027114868 L 25.17092895507812 7.371749401092529 C 25.35651206970215 7.557332515716553 25.65930557250977 7.557332515716553 25.84488868713379 7.371749401092529 L 27.57374382019043 5.64289665222168 C 28.31607437133789 4.895679950714111 28.31607437133789 3.689390182495117 27.57374382019043 2.947057723999023 Z M 18.753662109375 16.90974617004395 L 18.753662109375 21.88142013549805 L 3.1256103515625 21.88142013549805 L 3.1256103515625 6.253367900848389 L 14.3485050201416 6.253367900848389 C 14.50478553771973 6.253367900848389 14.65129852294922 6.189879417419434 14.7636251449585 6.082436084747314 L 16.71713066101074 4.128929615020752 C 17.08829689025879 3.757763385772705 16.8245735168457 3.127757787704468 16.30201148986816 3.127757787704468 L 2.344207763671875 3.127757787704468 C 1.050009727478027 3.127757787704468 0 4.177767276763916 0 5.471965312957764 L 0 22.66282272338867 C 0 23.9570198059082 1.050009727478027 25.00703048706055 2.344207763671875 25.00703048706055 L 19.53506469726562 25.00703048706055 C 20.82926177978516 25.00703048706055 21.8792724609375 23.9570198059082 21.8792724609375 22.66282272338867 L 21.8792724609375 14.95623970031738 C 21.8792724609375 14.43367671966553 21.24926567077637 14.17483711242676 20.87810134887695 14.54111957550049 L 18.92459487915039 16.49462699890137 C 18.8171501159668 16.60695266723633 18.753662109375 16.75346565246582 18.753662109375 16.90974617004395 Z">
						</path>
					</svg>
				</a>
				<svg class="Icon_material-delete_da" viewBox="7.5 4.5 21 25">
					<path id="Icon_material-delete_da" d="M 9 26.72222328186035 C 9 28.25 10.35000038146973 29.5 12 29.5 L 24 29.5 C 25.64999961853027 29.5 27 28.25 27 26.72222328186035 L 27 10.05555534362793 L 9 10.05555534362793 L 9 26.72222328186035 Z M 28.5 5.888888835906982 L 23.25 5.888888835906982 L 21.75 4.5 L 14.25 4.5 L 12.75 5.888888835906982 L 7.5 5.888888835906982 L 7.5 8.666666030883789 L 28.5 8.666666030883789 L 28.5 5.888888835906982 Z">
					</path>
				</svg>
			</div>
			<!-- Row 4 -->
			<div id="Group_15">
				<!-- Go to the Edit Page -->
				<a href="/employee_edit">
					<svg class="Icon_awesome-edit_db" viewBox="0 0.007 28.13 25">
						<path id="Icon_awesome-edit_db" d="M 19.66204261779785 4.065440654754639 L 24.06719779968262 8.470598220825195 C 24.25278282165527 8.656181335449219 24.25278282165527 8.958974838256836 24.06719779968262 9.144557952880859 L 13.40105533599854 19.81070327758789 L 8.86892032623291 20.31373023986816 C 8.263333320617676 20.38210296630859 7.750537872314453 19.86930847167969 7.818910598754883 19.26372146606445 L 8.321938514709473 14.73158550262451 L 18.98808288574219 4.065440654754639 C 19.17366600036621 3.879857540130615 19.47645950317383 3.879857540130615 19.66204261779785 4.065440654754639 Z M 27.57374382019043 2.947058200836182 L 25.19046401977539 0.5637800693511963 C 24.44813346862793 -0.1785523742437363 23.24184036254883 -0.1785523742437363 22.49462699890137 0.5637800693511963 L 20.76577186584473 2.292633533477783 C 20.58019065856934 2.478216648101807 20.58019065856934 2.781010150909424 20.76577186584473 2.966593027114868 L 25.17092895507812 7.371749401092529 C 25.35651206970215 7.557332515716553 25.65930557250977 7.557332515716553 25.84488868713379 7.371749401092529 L 27.57374382019043 5.64289665222168 C 28.31607437133789 4.895679950714111 28.31607437133789 3.689390182495117 27.57374382019043 2.947057723999023 Z M 18.753662109375 16.90974617004395 L 18.753662109375 21.88142013549805 L 3.1256103515625 21.88142013549805 L 3.1256103515625 6.253367900848389 L 14.3485050201416 6.253367900848389 C 14.50478553771973 6.253367900848389 14.65129852294922 6.189879417419434 14.7636251449585 6.082436084747314 L 16.71713066101074 4.128929615020752 C 17.08829689025879 3.757763385772705 16.8245735168457 3.127757787704468 16.30201148986816 3.127757787704468 L 2.344207763671875 3.127757787704468 C 1.050009727478027 3.127757787704468 0 4.177767276763916 0 5.471965312957764 L 0 22.66282272338867 C 0 23.9570198059082 1.050009727478027 25.00703048706055 2.344207763671875 25.00703048706055 L 19.53506469726562 25.00703048706055 C 20.82926177978516 25.00703048706055 21.8792724609375 23.9570198059082 21.8792724609375 22.66282272338867 L 21.8792724609375 14.95623970031738 C 21.8792724609375 14.43367671966553 21.24926567077637 14.17483711242676 20.87810134887695 14.54111957550049 L 18.92459487915039 16.49462699890137 C 18.8171501159668 16.60695266723633 18.753662109375 16.75346565246582 18.753662109375 16.90974617004395 Z">
						</path>
					</svg>
				</a>
				<svg class="Icon_material-delete_db" viewBox="7.5 4.5 21 25">
					<path id="Icon_material-delete_db" d="M 9 26.72222328186035 C 9 28.25 10.35000038146973 29.5 12 29.5 L 24 29.5 C 25.64999961853027 29.5 27 28.25 27 26.72222328186035 L 27 10.05555534362793 L 9 10.05555534362793 L 9 26.72222328186035 Z M 28.5 5.888888835906982 L 23.25 5.888888835906982 L 21.75 4.5 L 14.25 4.5 L 12.75 5.888888835906982 L 7.5 5.888888835906982 L 7.5 8.666666030883789 L 28.5 8.666666030883789 L 28.5 5.888888835906982 Z">
					</path>
				</svg>
			</div>
		</div>
	</div>
</div>
</body>
</html>