<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
	<link rel="stylesheet" type="text/css" href="styles.css">
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Employee Edit</title>
</head>

<body>
<div id="Employee_Edit">
	<svg class="Rectangle_5">
		<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="252" height="1079">
		</rect>
	</svg>
	<div id="Monterey">
		<span>Monterey</span>
	</div>
	<div id="Navigation">
		<div id="home">
			<span>home</span>
		</div>
		<div id="Logout">
			<span>Logout</span>
		</div>
	</div>
	<div id="Page_Title">
		<span>Employee Edit</span>
	</div>
	<svg class="Line_1" viewBox="0 0 1 1080">
		<path id="Line_1" d="M 0 0 L 0 1080">
		</path>
	</svg>
	<div id="Group_23">
		<div id="Group_18">
			<div id="Group_16">
				<svg class="Rectangle_2">
					<rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Name">
					<span>Name</span>
				</div>
			</div>
			<div id="Group_17">
				<svg class="Rectangle_2_x">
					<rect id="Rectangle_2_x" rx="0" ry="0" x="0" y="0" width="280" height="75">
					</rect>
				</svg>
				<div id="Michael_Will">
					<span>Michael Will</span>
				</div>
			</div>
			<div id="Group_16_z">
				<svg class="Rectangle_2_">
					<rect id="Rectangle_2_" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Emergency_Contact_Phone">
					<span>Emergency Contact Phone</span>
				</div>
			</div>
			<div id="Group_17_">
				<svg class="Rectangle_2_ba">
					<rect id="Rectangle_2_ba" rx="0" ry="0" x="0" y="0" width="281" height="76">
					</rect>
				</svg>
				<div id="n_92-621-8915">
					<span>692-621-8915</span>
				</div>
			</div>
			<div id="Group_16_">
				<svg class="Rectangle_2_bb">
					<rect id="Rectangle_2_bb" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Emergency_Contact_Name">
					<span>Emergency Contact Name</span>
				</div>
			</div>
			<div id="Group_17_ba">
				<svg class="Rectangle_2_bc">
					<rect id="Rectangle_2_bc" rx="0" ry="0" x="0" y="0" width="281" height="75">
					</rect>
				</svg>
				<div id="Will_Will">
					<span>Will Will</span>
				</div>
			</div>
			<div id="Group_16_bb">
				<svg class="Rectangle_2_bd">
					<rect id="Rectangle_2_bd" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Phone_Number">
					<span>Phone Number</span>
				</div>
			</div>
			<div id="Group_17_be">
				<svg class="Rectangle_2_bf">
					<rect id="Rectangle_2_bf" rx="0" ry="0" x="0" y="0" width="281" height="76">
					</rect>
				</svg>
				<div id="n_59-613-6314">
					<span>859-613-6314</span>
				</div>
			</div>
			<div id="Group_16_bh">
				<svg class="Rectangle_2_bi">
					<rect id="Rectangle_2_bi" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Email">
					<span>Email</span>
				</div>
			</div>
			<div id="Group_17_bk">
				<svg class="Rectangle_2_bl">
					<rect id="Rectangle_2_bl" rx="0" ry="0" x="0" y="0" width="280" height="75">
					</rect>
				</svg>
				<div id="michaelwillgmailcom">
					<span>michaelwill@gmail.com</span>
				</div>
			</div>
			<div id="Group_16_bn">
				<svg class="Rectangle_2_bo">
					<rect id="Rectangle_2_bo" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Social_Security_">
					<span>Social Security #</span>
				</div>
			</div>
			<div id="Group_17_bq">
				<svg class="Rectangle_2_br">
					<rect id="Rectangle_2_br" rx="0" ry="0" x="0" y="0" width="281" height="76">
					</rect>
				</svg>
				<div id="n_11-11-1123">
					<span>111-11-1123</span>
				</div>
			</div>
			<div id="Group_16_bt">
				<svg class="Rectangle_2_bu">
					<rect id="Rectangle_2_bu" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Birthday">
					<span>Birthday</span>
				</div>
			</div>
			<div id="Group_17_bw">
				<svg class="Rectangle_2_bx">
					<rect id="Rectangle_2_bx" rx="0" ry="0" x="0" y="0" width="281" height="75">
					</rect>
				</svg>
				<div id="n_1032000">
					<span>01/03/2000</span>
				</div>
			</div>
			<div id="Group_16_bz">
				<svg class="Rectangle_2_b">
					<rect id="Rectangle_2_b" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Employee_ID">
					<span>Employee ID</span>
				</div>
			</div>
			<div id="Group_17_b">
				<svg class="Rectangle_2_ca">
					<rect id="Rectangle_2_ca" rx="0" ry="0" x="0" y="0" width="280" height="76">
					</rect>
				</svg>
				<div id="n_">
					<span>3</span>
				</div>
			</div>
		</div>
		<div id="Group_19">
			<svg class="Rectangle_2_cb">
				<rect id="Rectangle_2_cb" rx="0" ry="0" x="0" y="0" width="306" height="76">
				</rect>
			</svg>
			<div id="Part_Time_or_Full_Time">
				<span>Part Time or Full Time</span>
			</div>
		</div>
		<div id="Group_20">
			<svg class="Rectangle_2_cc">
				<rect id="Rectangle_2_cc" rx="0" ry="0" x="0" y="0" width="281" height="76">
				</rect>
			</svg>
			<div id="Part_Time">
				<span>Part Time</span>
			</div>
			<div id="Group_21">
				<svg class="Rectangle_2_cd">
					<rect id="Rectangle_2_cd" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Salary">
					<span>Salary</span>
				</div>
			</div>
			<div id="Group_22">
				<svg class="Rectangle_2_cf">
					<rect id="Rectangle_2_cf" rx="0" ry="0" x="0" y="0" width="281" height="76">
					</rect>
				</svg>
				<div id="n_00000">
					<span>100,000</span>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>