<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>


<div class="jumbotron text-center">
  Hello World
</div>
 <nav style="text-align: center;">
  <h4></h4>
  <li><a href="/"></a>Home</li>
  <li><a href="/login"></a>Login</li>
  <li><a href="/register"></a>Register</li>
</nav>


</body>
</html>
