<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<div class="jumbotron text-center">
  Welcome11
</div>
<p><%= message %></p>
 <nav style="text-align: center;">
  <h4></h4>
  <li><a href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/student_list">Student List</a></li>
</nav>


</body>
</html>
