<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<%- include ("../partials/nav.ejs") %>
<div class="jumbotron text-center">
  <div style="font-size: xx-large">Welcome</div>
</div>
<p><%= message %></p>
 <nav style="text-align: center;">
  <h4></h4>
  <li><a href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
</nav>


</body>
</html>
