<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>


<div class="jumbotron text-center">
  Hello World
</div>
 <nav style="text-align: center;">
  <h4></h4>
  <li><a href="/">Home</a></li>
  <li><a href="/login">Login</a></li>
</nav>


</body>
</html>
