<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>
      </head>

<div class="jumbotron text-center">
  <div style="font-size: xx-large">Login</div>
</div>
<p><%= message %></p>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login/auth" method="POST">
            <div>
                <label for="username">Username:</label>
                <input class="authfield" type="text" id="username" name="username" required>
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input class="authfield" type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>