<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include ("../partials/header.ejs") %>
<title>Student List</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Student List;
		--web-view-id: Student_List;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Student_List;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Student_List {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,242,1);
		overflow: hidden;
		--web-view-name: Student List;
		--web-view-id: Student_List;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_5 {
		fill: rgba(158,194,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_5 {
		position: absolute;
		overflow: visible;
		width: 252px;
		height: 1079px;
		left: 0px;
		top: 0px;
	}
	#Monterey {
		left: 0px;
		top: 55px;
		position: absolute;
		overflow: visible;
		width: 255px;
		height: 61px;
		text-align: center;
		font-family: Plantagenet Cherokee;
		font-style: normal;
		font-weight: normal;
		font-size: 42px;
		color: rgba(62,94,148,1);
		text-transform: capitalize;
	}
	#Navigation {
		position: absolute;
		width: 219px;
		height: 27px;
		left: 1674px;
		top: 58px;
		overflow: visible;
	}
	#home {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 99px;
		height: 27px;
		text-align: center;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(62,94,148,1);
		text-transform: capitalize;
	}
	#Logout {
		left: 121px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 99px;
		height: 27px;
		text-align: center;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(62,94,148,1);
		text-transform: capitalize;
	}
	#Page_Title {
		left: 785px;
		top: 38px;
		position: absolute;
		overflow: visible;
		width: 352px;
		height: 67px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(62,94,148,1);
	}
	#Line_1 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 1080px;
		left: 253.5px;
		top: 1.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Student_List_Table {
		position: absolute;
		width: 1198px;
		height: 352px;
		left: 361px;
		top: 238px;
		overflow: visible;
	}
	#Group_11 {
		position: absolute;
		width: 1198px;
		height: 70px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1 {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 159px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Group_10 {
		position: absolute;
		width: 1180px;
		height: 70px;
		left: 18px;
		top: 0px;
		overflow: visible;
	}
	#Student_ID {
		left: 0px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_5 {
		position: absolute;
		width: 212px;
		height: 70px;
		left: 968px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_x {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_x {
		position: absolute;
		overflow: visible;
		width: 212px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Actions {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_4 {
		position: absolute;
		width: 385px;
		height: 70px;
		left: 583px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ {
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Email {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_3 {
		position: absolute;
		width: 158px;
		height: 70px;
		left: 425px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ba {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ba {
		position: absolute;
		overflow: visible;
		width: 158px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Birthday {
		left: 16px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 103px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_2 {
		position: absolute;
		width: 284px;
		height: 70px;
		left: 141px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bb {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bb {
		position: absolute;
		overflow: visible;
		width: 284px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Name {
		left: 17px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgba(0,0,0,1);
		text-transform: uppercase;
	}
	#Group_6 {
		position: absolute;
		width: 1198px;
		height: 70px;
		left: 0px;
		top: 282px;
		overflow: visible;
	}
	#Group_1 {
		position: absolute;
		width: 159px;
		height: 70px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bc {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bc {
		position: absolute;
		overflow: visible;
		width: 159px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#n_ {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 12px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_5_bc {
		position: absolute;
		width: 212px;
		height: 70px;
		left: 986px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bd {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bd {
		position: absolute;
		overflow: visible;
		width: 212px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Group_4_be {
		position: absolute;
		width: 385px;
		height: 70px;
		left: 601px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bf {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bf {
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#LuciusNikolaushotmailcom {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 269px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_3_bh {
		position: absolute;
		width: 158px;
		height: 70px;
		left: 443px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bi {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bi {
		position: absolute;
		overflow: visible;
		width: 158px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#n_1042000 {
		left: 16px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_2_bk {
		position: absolute;
		width: 284px;
		height: 70px;
		left: 159px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bl {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bl {
		position: absolute;
		overflow: visible;
		width: 284px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Nina_Runte {
		left: 17px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_7 {
		position: absolute;
		width: 1198px;
		height: 70px;
		left: 0px;
		top: 212px;
		overflow: visible;
	}
	#Group_1_bo {
		position: absolute;
		width: 159px;
		height: 70px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bp {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bp {
		position: absolute;
		overflow: visible;
		width: 159px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#n__bq {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 12px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_5_br {
		position: absolute;
		width: 212px;
		height: 70px;
		left: 986px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bs {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bs {
		position: absolute;
		overflow: visible;
		width: 212px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Group_4_bt {
		position: absolute;
		width: 385px;
		height: 70px;
		left: 601px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bu {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bu {
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Nyasia_Jast50gmailcom {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 244px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_3_bw {
		position: absolute;
		width: 158px;
		height: 70px;
		left: 443px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_bx {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_bx {
		position: absolute;
		overflow: visible;
		width: 158px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#n_1032000 {
		left: 16px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_2_bz {
		position: absolute;
		width: 284px;
		height: 70px;
		left: 159px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_b {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_b {
		position: absolute;
		overflow: visible;
		width: 284px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Micheal_Will {
		left: 17px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 108px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_1_ca {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ca {
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 69px;
		left: 601px;
		top: 143px;
	}
	#Group_8 {
		position: absolute;
		width: 1198px;
		height: 69px;
		left: 0px;
		top: 143px;
		overflow: visible;
	}
	#Group_1_b {
		position: absolute;
		width: 159px;
		height: 69px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cb {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cb {
		position: absolute;
		overflow: visible;
		width: 159px;
		height: 69px;
		left: 0px;
		top: 0px;
	}
	#n__b {
		left: 18px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 12px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_5_b {
		position: absolute;
		width: 212px;
		height: 69px;
		left: 986px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cc {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cc {
		position: absolute;
		overflow: visible;
		width: 212px;
		height: 69px;
		left: 0px;
		top: 0px;
	}
	#lloydandersongmailcom {
		left: 619px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 237px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_3_ca {
		position: absolute;
		width: 158px;
		height: 69px;
		left: 443px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cd {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cd {
		position: absolute;
		overflow: visible;
		width: 158px;
		height: 69px;
		left: 0px;
		top: 0px;
	}
	#n_1022000 {
		left: 16px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_2_cd {
		position: absolute;
		width: 284px;
		height: 69px;
		left: 159px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ce {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ce {
		position: absolute;
		overflow: visible;
		width: 284px;
		height: 69px;
		left: 0px;
		top: 0px;
	}
	#Lloyd_Anderson_V {
		left: 17px;
		top: 22px;
		position: absolute;
		overflow: visible;
		width: 158px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_9 {
		position: absolute;
		width: 1198px;
		height: 70px;
		left: 0px;
		top: 73px;
		overflow: visible;
	}
	#Group_1_ch {
		position: absolute;
		width: 159px;
		height: 70px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ci {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ci {
		position: absolute;
		overflow: visible;
		width: 159px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#n__cj {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 12px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_5_ck {
		position: absolute;
		width: 212px;
		height: 70px;
		left: 986px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cl {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cl {
		position: absolute;
		overflow: visible;
		width: 212px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Group_4_cm {
		position: absolute;
		width: 385px;
		height: 70px;
		left: 601px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cn {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cn {
		position: absolute;
		overflow: visible;
		width: 385px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Marlen_Johnshotmailcom {
		left: 18px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 255px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_3_cp {
		position: absolute;
		width: 158px;
		height: 70px;
		left: 443px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_cq {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_cq {
		position: absolute;
		overflow: visible;
		width: 158px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#n_1012000 {
		left: 16px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 101px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_2_cs {
		position: absolute;
		width: 284px;
		height: 70px;
		left: 159px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_ct {
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1_ct {
		position: absolute;
		overflow: visible;
		width: 284px;
		height: 70px;
		left: 0px;
		top: 0px;
	}
	#Marsha_Kilback {
		left: 17px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 138px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_12 {
		position: absolute;
		width: 105.872px;
		height: 31.889px;
		left: 1019.18px;
		top: 91.841px;
		overflow: visible;
	}
	#Icon_awesome-edit {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit {
		overflow: visible;
		position: absolute;
		width: 35.882px;
		height: 31.889px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete {
		overflow: visible;
		position: absolute;
		width: 26.787px;
		height: 31.889px;
		left: 79.085px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_13 {
		position: absolute;
		width: 105.872px;
		height: 31.889px;
		left: 1019.18px;
		top: 161.997px;
		overflow: visible;
	}
	#Icon_awesome-edit_cz {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit_cz {
		overflow: visible;
		position: absolute;
		width: 35.882px;
		height: 31.889px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete_c {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete_c {
		overflow: visible;
		position: absolute;
		width: 26.787px;
		height: 31.889px;
		left: 79.085px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_14 {
		position: absolute;
		width: 105.872px;
		height: 31.889px;
		left: 1019.18px;
		top: 230.878px;
		overflow: visible;
	}
	#Icon_awesome-edit_c {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit_c {
		overflow: visible;
		position: absolute;
		width: 35.882px;
		height: 31.889px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete_da {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete_da {
		overflow: visible;
		position: absolute;
		width: 26.787px;
		height: 31.889px;
		left: 79.085px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_15 {
		position: absolute;
		width: 105.872px;
		height: 31.889px;
		left: 1019.18px;
		top: 301.034px;
		overflow: visible;
	}
	#Icon_awesome-edit_da {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-edit_da {
		overflow: visible;
		position: absolute;
		width: 35.882px;
		height: 31.889px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-delete_db {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-delete_db {
		overflow: visible;
		position: absolute;
		width: 26.787px;
		height: 31.889px;
		left: 79.085px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_material-add {
		fill: rgba(0,0,0,1);
	}
	.Icon_material-add {
		overflow: visible;
		position: absolute;
		width: 36.002px;
		height: 36.002px;
		left: 1522.998px;
		top: 179.5px;
		transform: matrix(1,0,0,1,0,0);
	}
</style>
</head>
<%- include ("../partials/nav.ejs") %>
<body>
<div id="Student_List">
	<svg class="Rectangle_5">
		<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="252" height="1079">
		</rect>
	</svg>
	<div id="Monterey">
		<span>Monterey</span>
	</div>
	<div id="Navigation">
		<div id="home">
			<span>home</span>
		</div>
		<div id="Logout">
			<span>Logout</span>
		</div>
	</div>
	<div id="Page_Title">
		<span>Student List</span>
	</div>
	<svg class="Line_1" viewBox="0 0 1 1080">
		<path id="Line_1" d="M 0 0 L 0 1080">
		</path>
	</svg>
	<div id="Student_List_Table">
		<div id="Group_11">
			<svg class="Rectangle_1">
				<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="159" height="70">
				</rect>
			</svg>
			<div id="Group_10">
				<div id="Student_ID">
					<span>Student ID</span>
				</div>
				<div id="Group_5">
					<svg class="Rectangle_1_x">
						<rect id="Rectangle_1_x" rx="0" ry="0" x="0" y="0" width="212" height="70">
						</rect>
					</svg>
					<div id="Actions">
						<span>Actions</span>
					</div>
				</div>
				<div id="Group_4">
					<svg class="Rectangle_1_">
						<rect id="Rectangle_1_" rx="0" ry="0" x="0" y="0" width="385" height="70">
						</rect>
					</svg>
					<div id="Email">
						<span>Email</span>
					</div>
				</div>
				<div id="Group_3">
					<svg class="Rectangle_1_ba">
						<rect id="Rectangle_1_ba" rx="0" ry="0" x="0" y="0" width="158" height="70">
						</rect>
					</svg>
					<div id="Birthday">
						<span>Birthday</span>
					</div>
				</div>
				<div id="Group_2">
					<svg class="Rectangle_1_bb">
						<rect id="Rectangle_1_bb" rx="0" ry="0" x="0" y="0" width="284" height="70">
						</rect>
					</svg>
					<div id="Name">
						<span>Name</span>
					</div>
				</div>
			</div>
		</div>
		<div id="Group_6">
			<div id="Group_1">
				<svg class="Rectangle_1_bc">
					<rect id="Rectangle_1_bc" rx="0" ry="0" x="0" y="0" width="159" height="70">
					</rect>
				</svg>
				<div id="n_">
					<span>4</span>
				</div>
			</div>
			<div id="Group_5_bc">
				<svg class="Rectangle_1_bd">
					<rect id="Rectangle_1_bd" rx="0" ry="0" x="0" y="0" width="212" height="70">
					</rect>
				</svg>
			</div>
			<div id="Group_4_be">
				<svg class="Rectangle_1_bf">
					<rect id="Rectangle_1_bf" rx="0" ry="0" x="0" y="0" width="385" height="70">
					</rect>
				</svg>
				<div id="LuciusNikolaushotmailcom">
					<span>Lucius.Nikolaus@hotmail.com</span>
				</div>
			</div>
			<div id="Group_3_bh">
				<svg class="Rectangle_1_bi">
					<rect id="Rectangle_1_bi" rx="0" ry="0" x="0" y="0" width="158" height="70">
					</rect>
				</svg>
				<div id="n_1042000">
					<span>01/04/2000</span>
				</div>
			</div>
			<div id="Group_2_bk">
				<svg class="Rectangle_1_bl">
					<rect id="Rectangle_1_bl" rx="0" ry="0" x="0" y="0" width="284" height="70">
					</rect>
				</svg>
				<div id="Nina_Runte">
					<span>Nina Runte</span>
				</div>
			</div>
		</div>
		<div id="Group_7">
			<div id="Group_1_bo">
				<svg class="Rectangle_1_bp">
					<rect id="Rectangle_1_bp" rx="0" ry="0" x="0" y="0" width="159" height="70">
					</rect>
				</svg>
				<div id="n__bq">
					<span>3</span>
				</div>
			</div>
			<div id="Group_5_br">
				<svg class="Rectangle_1_bs">
					<rect id="Rectangle_1_bs" rx="0" ry="0" x="0" y="0" width="212" height="70">
					</rect>
				</svg>
			</div>
			<div id="Group_4_bt">
				<svg class="Rectangle_1_bu">
					<rect id="Rectangle_1_bu" rx="0" ry="0" x="0" y="0" width="385" height="70">
					</rect>
				</svg>
				<div id="Nyasia_Jast50gmailcom">
					<span>Nyasia_Jast50@gmail.com</span>
				</div>
			</div>
			<div id="Group_3_bw">
				<svg class="Rectangle_1_bx">
					<rect id="Rectangle_1_bx" rx="0" ry="0" x="0" y="0" width="158" height="70">
					</rect>
				</svg>
				<div id="n_1032000">
					<span>01/03/2000</span>
				</div>
			</div>
			<div id="Group_2_bz">
				<svg class="Rectangle_1_b">
					<rect id="Rectangle_1_b" rx="0" ry="0" x="0" y="0" width="284" height="70">
					</rect>
				</svg>
				<div id="Micheal_Will">
					<span>Micheal Will</span>
				</div>
			</div>
		</div>
		<svg class="Rectangle_1_ca">
			<rect id="Rectangle_1_ca" rx="0" ry="0" x="0" y="0" width="385" height="69">
			</rect>
		</svg>
		<div id="Group_8">
			<div id="Group_1_b">
				<svg class="Rectangle_1_cb">
					<rect id="Rectangle_1_cb" rx="0" ry="0" x="0" y="0" width="159" height="69">
					</rect>
				</svg>
				<div id="n__b">
					<span>2</span>
				</div>
			</div>
			<div id="Group_5_b">
				<svg class="Rectangle_1_cc">
					<rect id="Rectangle_1_cc" rx="0" ry="0" x="0" y="0" width="212" height="69">
					</rect>
				</svg>
			</div>
			<div id="lloydandersongmailcom">
				<span>lloydanderson@gmail.com</span>
			</div>
			<div id="Group_3_ca">
				<svg class="Rectangle_1_cd">
					<rect id="Rectangle_1_cd" rx="0" ry="0" x="0" y="0" width="158" height="69">
					</rect>
				</svg>
				<div id="n_1022000">
					<span>01/02/2000</span>
				</div>
			</div>
			<div id="Group_2_cd">
				<svg class="Rectangle_1_ce">
					<rect id="Rectangle_1_ce" rx="0" ry="0" x="0" y="0" width="284" height="69">
					</rect>
				</svg>
				<div id="Lloyd_Anderson_V">
					<span>Lloyd Anderson V</span>
				</div>
			</div>
		</div>
		<div id="Group_9">
			<div id="Group_1_ch">
				<svg class="Rectangle_1_ci">
					<rect id="Rectangle_1_ci" rx="0" ry="0" x="0" y="0" width="159" height="70">
					</rect>
				</svg>
				<div id="n__cj">
					<span>1</span>
				</div>
			</div>
			<div id="Group_5_ck">
				<svg class="Rectangle_1_cl">
					<rect id="Rectangle_1_cl" rx="0" ry="0" x="0" y="0" width="212" height="70">
					</rect>
				</svg>
			</div>
			<div id="Group_4_cm">
				<svg class="Rectangle_1_cn">
					<rect id="Rectangle_1_cn" rx="0" ry="0" x="0" y="0" width="385" height="70">
					</rect>
				</svg>
				<div id="Marlen_Johnshotmailcom">
					<span>Marlen_Johns@hotmail.com</span>
				</div>
			</div>
			<div id="Group_3_cp">
				<svg class="Rectangle_1_cq">
					<rect id="Rectangle_1_cq" rx="0" ry="0" x="0" y="0" width="158" height="70">
					</rect>
				</svg>
				<div id="n_1012000">
					<span>01/01/2000</span>
				</div>
			</div>
			<div id="Group_2_cs">
				<svg class="Rectangle_1_ct">
					<rect id="Rectangle_1_ct" rx="0" ry="0" x="0" y="0" width="284" height="70">
					</rect>
				</svg>
				<div id="Marsha_Kilback">
					<span>Marsha Kilback</span>
				</div>
			</div>
		</div>
		<!-- Row 1 -->
		<div id="Group_12">
			<!-- Go to the Edit Page -->
			<a href="/student_edit">
				<svg class="Icon_awesome-edit" viewBox="0 0.007 35.882 31.889">
					<path id="Icon_awesome-edit" d="M 25.08028984069824 5.183811664581299 L 30.69936752319336 10.80289268493652 C 30.93609428405762 11.03961658477783 30.93609428405762 11.42584991455078 30.69936752319336 11.66257381439209 L 17.09396934509277 25.26797485351562 L 11.3129186630249 25.90962028503418 C 10.54045009613037 25.99683570861816 9.886344909667969 25.34273147583008 9.97355842590332 24.57026290893555 L 10.61520576477051 18.78921127319336 L 24.22060775756836 5.183811664581299 C 24.45733070373535 4.94708776473999 24.84356498718262 4.94708776473999 25.08028984069824 5.183811664581299 Z M 35.17220687866211 3.757237911224365 L 32.13217163085938 0.7172027826309204 C 31.18527793884277 -0.229693278670311 29.64656829833984 -0.229693278670311 28.69344520568848 0.7172027826309204 L 26.48817253112793 2.922474145889282 C 26.25144958496094 3.15919828414917 26.25144958496094 3.545432090759277 26.48817253112793 3.782155990600586 L 32.10725402832031 9.401235580444336 C 32.34397506713867 9.637959480285645 32.73020935058594 9.637959480285645 32.96693420410156 9.401235580444336 L 35.17220687866211 7.19596529006958 C 36.11910247802734 6.242838859558105 36.11910247802734 4.7041335105896 35.17220687866211 3.757237195968628 Z M 23.92158699035645 21.56760597229004 L 23.92158699035645 27.90931701660156 L 3.986931085586548 27.90931701660156 L 3.986931085586548 7.974663257598877 L 18.30250549316406 7.974663257598877 C 18.50185203552246 7.974663257598877 18.68873977661133 7.893679141998291 18.8320198059082 7.756628036499023 L 21.32385063171387 5.264796257019043 C 21.79729843139648 4.791347980499268 21.46090126037598 3.987732648849487 20.79433822631836 3.987732648849487 L 2.990198373794556 3.987732648849487 C 1.339359641075134 3.987732648849487 0 5.327091693878174 0 6.977930545806885 L 0 28.90604972839355 C 0 30.55688667297363 1.339359641075134 31.89624786376953 2.990198373794556 31.89624786376953 L 24.91831970214844 31.89624786376953 C 26.56915664672852 31.89624786376953 27.90851783752441 30.55688667297363 27.90851783752441 28.90604972839355 L 27.90851783752441 19.07577323913574 C 27.90851783752441 18.40920829772949 27.10490036010742 18.07904052734375 26.63145637512207 18.5462589263916 L 24.13962364196777 21.0380916595459 C 24.00257110595703 21.18137168884277 23.92158699035645 21.36825942993164 23.92158699035645 21.56760597229004 Z">
					</path>
				</svg>
			</a>
			<svg class="Icon_material-delete" viewBox="7.5 4.5 26.787 31.889">
				<path id="Icon_material-delete" d="M 9.413352966308594 32.84597778320312 C 9.413352966308594 34.79476165771484 11.13537120819092 36.38922119140625 13.24005889892578 36.38922119140625 L 28.54688453674316 36.38922119140625 C 30.65157508850098 36.38922119140625 32.37359237670898 34.79476165771484 32.37359237670898 32.84597778320312 L 32.37359237670898 11.58649349212646 L 9.413352966308594 11.58649349212646 L 9.413352966308594 32.84597778320312 Z M 34.28694534301758 6.271623134613037 L 27.59020805358887 6.271623134613037 L 25.67685508728027 4.5 L 16.11008834838867 4.5 L 14.19673538208008 6.271623134613037 L 7.5 6.271623134613037 L 7.5 9.814868927001953 L 34.28694534301758 9.814868927001953 L 34.28694534301758 6.271623134613037 Z">
				</path>
			</svg>
		</div>
		<!-- Row 2 -->
		<div id="Group_13">
			<!-- Go to the Edit Page -->
			<a href="/student_edit">
				<svg class="Icon_awesome-edit_cz" viewBox="0 0.007 35.882 31.889">
					<path id="Icon_awesome-edit_cz" d="M 25.08028984069824 5.183811664581299 L 30.69936752319336 10.80289268493652 C 30.93609428405762 11.03961658477783 30.93609428405762 11.42584991455078 30.69936752319336 11.66257381439209 L 17.09396934509277 25.26797485351562 L 11.3129186630249 25.90962028503418 C 10.54045009613037 25.99683570861816 9.886344909667969 25.34273147583008 9.97355842590332 24.57026290893555 L 10.61520576477051 18.78921127319336 L 24.22060775756836 5.183811664581299 C 24.45733070373535 4.94708776473999 24.84356498718262 4.94708776473999 25.08028984069824 5.183811664581299 Z M 35.17220687866211 3.757237911224365 L 32.13217163085938 0.7172027826309204 C 31.18527793884277 -0.229693278670311 29.64656829833984 -0.229693278670311 28.69344520568848 0.7172027826309204 L 26.48817253112793 2.922474145889282 C 26.25144958496094 3.15919828414917 26.25144958496094 3.545432090759277 26.48817253112793 3.782155990600586 L 32.10725402832031 9.401235580444336 C 32.34397506713867 9.637959480285645 32.73020935058594 9.637959480285645 32.96693420410156 9.401235580444336 L 35.17220687866211 7.19596529006958 C 36.11910247802734 6.242838859558105 36.11910247802734 4.7041335105896 35.17220687866211 3.757237195968628 Z M 23.92158699035645 21.56760597229004 L 23.92158699035645 27.90931701660156 L 3.986931085586548 27.90931701660156 L 3.986931085586548 7.974663257598877 L 18.30250549316406 7.974663257598877 C 18.50185203552246 7.974663257598877 18.68873977661133 7.893679141998291 18.8320198059082 7.756628036499023 L 21.32385063171387 5.264796257019043 C 21.79729843139648 4.791347980499268 21.46090126037598 3.987732648849487 20.79433822631836 3.987732648849487 L 2.990198373794556 3.987732648849487 C 1.339359641075134 3.987732648849487 0 5.327091693878174 0 6.977930545806885 L 0 28.90604972839355 C 0 30.55688667297363 1.339359641075134 31.89624786376953 2.990198373794556 31.89624786376953 L 24.91831970214844 31.89624786376953 C 26.56915664672852 31.89624786376953 27.90851783752441 30.55688667297363 27.90851783752441 28.90604972839355 L 27.90851783752441 19.07577323913574 C 27.90851783752441 18.40920829772949 27.10490036010742 18.07904052734375 26.63145637512207 18.5462589263916 L 24.13962364196777 21.0380916595459 C 24.00257110595703 21.18137168884277 23.92158699035645 21.36825942993164 23.92158699035645 21.56760597229004 Z">
					</path>
				</svg>
			</a>
			<svg class="Icon_material-delete_c" viewBox="7.5 4.5 26.787 31.889">
				<path id="Icon_material-delete_c" d="M 9.413352966308594 32.84597778320312 C 9.413352966308594 34.79476165771484 11.13537120819092 36.38922119140625 13.24005889892578 36.38922119140625 L 28.54688453674316 36.38922119140625 C 30.65157508850098 36.38922119140625 32.37359237670898 34.79476165771484 32.37359237670898 32.84597778320312 L 32.37359237670898 11.58649349212646 L 9.413352966308594 11.58649349212646 L 9.413352966308594 32.84597778320312 Z M 34.28694534301758 6.271623134613037 L 27.59020805358887 6.271623134613037 L 25.67685508728027 4.5 L 16.11008834838867 4.5 L 14.19673538208008 6.271623134613037 L 7.5 6.271623134613037 L 7.5 9.814868927001953 L 34.28694534301758 9.814868927001953 L 34.28694534301758 6.271623134613037 Z">
				</path>
			</svg>
		</div>
		<!-- Row 3 -->
		<div id="Group_14">
			<!-- Go to the Edit Page -->
			<a href="/student_edit">
				<svg class="Icon_awesome-edit_c" viewBox="0 0.007 35.882 31.889">
					<path id="Icon_awesome-edit_c" d="M 25.08028984069824 5.183811664581299 L 30.69936752319336 10.80289268493652 C 30.93609428405762 11.03961658477783 30.93609428405762 11.42584991455078 30.69936752319336 11.66257381439209 L 17.09396934509277 25.26797485351562 L 11.3129186630249 25.90962028503418 C 10.54045009613037 25.99683570861816 9.886344909667969 25.34273147583008 9.97355842590332 24.57026290893555 L 10.61520576477051 18.78921127319336 L 24.22060775756836 5.183811664581299 C 24.45733070373535 4.94708776473999 24.84356498718262 4.94708776473999 25.08028984069824 5.183811664581299 Z M 35.17220687866211 3.757237911224365 L 32.13217163085938 0.7172027826309204 C 31.18527793884277 -0.229693278670311 29.64656829833984 -0.229693278670311 28.69344520568848 0.7172027826309204 L 26.48817253112793 2.922474145889282 C 26.25144958496094 3.15919828414917 26.25144958496094 3.545432090759277 26.48817253112793 3.782155990600586 L 32.10725402832031 9.401235580444336 C 32.34397506713867 9.637959480285645 32.73020935058594 9.637959480285645 32.96693420410156 9.401235580444336 L 35.17220687866211 7.19596529006958 C 36.11910247802734 6.242838859558105 36.11910247802734 4.7041335105896 35.17220687866211 3.757237195968628 Z M 23.92158699035645 21.56760597229004 L 23.92158699035645 27.90931701660156 L 3.986931085586548 27.90931701660156 L 3.986931085586548 7.974663257598877 L 18.30250549316406 7.974663257598877 C 18.50185203552246 7.974663257598877 18.68873977661133 7.893679141998291 18.8320198059082 7.756628036499023 L 21.32385063171387 5.264796257019043 C 21.79729843139648 4.791347980499268 21.46090126037598 3.987732648849487 20.79433822631836 3.987732648849487 L 2.990198373794556 3.987732648849487 C 1.339359641075134 3.987732648849487 0 5.327091693878174 0 6.977930545806885 L 0 28.90604972839355 C 0 30.55688667297363 1.339359641075134 31.89624786376953 2.990198373794556 31.89624786376953 L 24.91831970214844 31.89624786376953 C 26.56915664672852 31.89624786376953 27.90851783752441 30.55688667297363 27.90851783752441 28.90604972839355 L 27.90851783752441 19.07577323913574 C 27.90851783752441 18.40920829772949 27.10490036010742 18.07904052734375 26.63145637512207 18.5462589263916 L 24.13962364196777 21.0380916595459 C 24.00257110595703 21.18137168884277 23.92158699035645 21.36825942993164 23.92158699035645 21.56760597229004 Z">
					</path>
				</svg>
			</a>
			<svg class="Icon_material-delete_da" viewBox="7.5 4.5 26.787 31.889">
				<path id="Icon_material-delete_da" d="M 9.413352966308594 32.84597778320312 C 9.413352966308594 34.79476165771484 11.13537120819092 36.38922119140625 13.24005889892578 36.38922119140625 L 28.54688453674316 36.38922119140625 C 30.65157508850098 36.38922119140625 32.37359237670898 34.79476165771484 32.37359237670898 32.84597778320312 L 32.37359237670898 11.58649349212646 L 9.413352966308594 11.58649349212646 L 9.413352966308594 32.84597778320312 Z M 34.28694534301758 6.271623134613037 L 27.59020805358887 6.271623134613037 L 25.67685508728027 4.5 L 16.11008834838867 4.5 L 14.19673538208008 6.271623134613037 L 7.5 6.271623134613037 L 7.5 9.814868927001953 L 34.28694534301758 9.814868927001953 L 34.28694534301758 6.271623134613037 Z">
				</path>
			</svg>
		</div>
		<!-- Row 4 -->
		<div id="Group_15">
			<!-- Go to the Edit Page -->
			<a href="/student_edit">
				<svg class="Icon_awesome-edit_da" viewBox="0 0.007 35.882 31.889">
					<path id="Icon_awesome-edit_da" d="M 25.08028984069824 5.183811664581299 L 30.69936752319336 10.80289268493652 C 30.93609428405762 11.03961658477783 30.93609428405762 11.42584991455078 30.69936752319336 11.66257381439209 L 17.09396934509277 25.26797485351562 L 11.3129186630249 25.90962028503418 C 10.54045009613037 25.99683570861816 9.886344909667969 25.34273147583008 9.97355842590332 24.57026290893555 L 10.61520576477051 18.78921127319336 L 24.22060775756836 5.183811664581299 C 24.45733070373535 4.94708776473999 24.84356498718262 4.94708776473999 25.08028984069824 5.183811664581299 Z M 35.17220687866211 3.757237911224365 L 32.13217163085938 0.7172027826309204 C 31.18527793884277 -0.229693278670311 29.64656829833984 -0.229693278670311 28.69344520568848 0.7172027826309204 L 26.48817253112793 2.922474145889282 C 26.25144958496094 3.15919828414917 26.25144958496094 3.545432090759277 26.48817253112793 3.782155990600586 L 32.10725402832031 9.401235580444336 C 32.34397506713867 9.637959480285645 32.73020935058594 9.637959480285645 32.96693420410156 9.401235580444336 L 35.17220687866211 7.19596529006958 C 36.11910247802734 6.242838859558105 36.11910247802734 4.7041335105896 35.17220687866211 3.757237195968628 Z M 23.92158699035645 21.56760597229004 L 23.92158699035645 27.90931701660156 L 3.986931085586548 27.90931701660156 L 3.986931085586548 7.974663257598877 L 18.30250549316406 7.974663257598877 C 18.50185203552246 7.974663257598877 18.68873977661133 7.893679141998291 18.8320198059082 7.756628036499023 L 21.32385063171387 5.264796257019043 C 21.79729843139648 4.791347980499268 21.46090126037598 3.987732648849487 20.79433822631836 3.987732648849487 L 2.990198373794556 3.987732648849487 C 1.339359641075134 3.987732648849487 0 5.327091693878174 0 6.977930545806885 L 0 28.90604972839355 C 0 30.55688667297363 1.339359641075134 31.89624786376953 2.990198373794556 31.89624786376953 L 24.91831970214844 31.89624786376953 C 26.56915664672852 31.89624786376953 27.90851783752441 30.55688667297363 27.90851783752441 28.90604972839355 L 27.90851783752441 19.07577323913574 C 27.90851783752441 18.40920829772949 27.10490036010742 18.07904052734375 26.63145637512207 18.5462589263916 L 24.13962364196777 21.0380916595459 C 24.00257110595703 21.18137168884277 23.92158699035645 21.36825942993164 23.92158699035645 21.56760597229004 Z">
					</path>
				</svg>
			</a>
			<svg class="Icon_material-delete_db" viewBox="7.5 4.5 26.787 31.889">
				<path id="Icon_material-delete_db" d="M 9.413352966308594 32.84597778320312 C 9.413352966308594 34.79476165771484 11.13537120819092 36.38922119140625 13.24005889892578 36.38922119140625 L 28.54688453674316 36.38922119140625 C 30.65157508850098 36.38922119140625 32.37359237670898 34.79476165771484 32.37359237670898 32.84597778320312 L 32.37359237670898 11.58649349212646 L 9.413352966308594 11.58649349212646 L 9.413352966308594 32.84597778320312 Z M 34.28694534301758 6.271623134613037 L 27.59020805358887 6.271623134613037 L 25.67685508728027 4.5 L 16.11008834838867 4.5 L 14.19673538208008 6.271623134613037 L 7.5 6.271623134613037 L 7.5 9.814868927001953 L 34.28694534301758 9.814868927001953 L 34.28694534301758 6.271623134613037 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Icon_material-add" viewBox="7.5 7.5 36.002 36.002">
		<path id="Icon_material-add" d="M 43.50204849243164 28.07259750366211 L 28.07259750366211 28.07259750366211 L 28.07259750366211 43.50204849243164 L 22.92944717407227 43.50204849243164 L 22.92944717407227 28.07259750366211 L 7.500000953674316 28.07259750366211 L 7.500000953674316 22.92944717407227 L 22.92944717407227 22.92944717407227 L 22.92944717407227 7.500000953674316 L 28.07259750366211 7.500000953674316 L 28.07259750366211 22.92944717407227 L 43.50204849243164 22.92944717407227 L 43.50204849243164 28.07259750366211 Z">
		</path>
	</svg>
</div>
</body>
</html>