<!DOCTYPE html>
<html>
<head>
    <%- include ("../partials/header.ejs") %>
	<link rel="stylesheet" type="text/css" href="styles.css">
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Edit</title>
</head>

<body>
<div id="Student_Edit">
	<svg class="Rectangle_5">
		<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="252" height="1079">
		</rect>
	</svg>
	<div id="Monterey">
		<span>Monterey</span>
	</div>
	<div id="Navigation">
		<div id="home">
			<span>home</span>
		</div>
		<div id="Logout">
			<span>Logout</span>
		</div>
	</div>
	<div id="Page_Title">
		<span>Student Edit</span>
	</div>
	<svg class="Line_1" viewBox="0 0 1 1080">
		<path id="Line_1" d="M 0 0 L 0 1080">
		</path>
	</svg>
	<div id="Information">
		<div id="Student_Info_Table">
			<div id="Group_16">
				<svg class="Rectangle_2">
					<rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Name">
					<span>Name</span>
				</div>
			</div>
			<div id="Group_17">
				<svg class="Rectangle_2_x">
					<rect id="Rectangle_2_x" rx="0" ry="0" x="0" y="0" width="280" height="75">
					</rect>
				</svg>
				<div id="Michael_Will">
					<span>Michael Will</span>
				</div>
			</div>
			<div id="Group_16_z">
				<svg class="Rectangle_2_">
					<rect id="Rectangle_2_" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Emergency_Contact_Phone">
					<span>Emergency Contact Phone</span>
				</div>
			</div>
			<div id="Group_17_">
				<svg class="Rectangle_2_ba">
					<rect id="Rectangle_2_ba" rx="0" ry="0" x="0" y="0" width="281" height="76">
					</rect>
				</svg>
				<div id="n_92-621-8915">
					<span>692-621-8915</span>
				</div>
			</div>
			<div id="Group_16_">
				<svg class="Rectangle_2_bb">
					<rect id="Rectangle_2_bb" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Emergency_Contact_Name">
					<span>Emergency Contact Name</span>
				</div>
			</div>
			<div id="Group_17_ba">
				<svg class="Rectangle_2_bc">
					<rect id="Rectangle_2_bc" rx="0" ry="0" x="0" y="0" width="281" height="75">
					</rect>
				</svg>
				<div id="Will_Will">
					<span>Will Will</span>
				</div>
			</div>
			<div id="Group_16_bb">
				<svg class="Rectangle_2_bd">
					<rect id="Rectangle_2_bd" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Phone_Number">
					<span>Phone Number</span>
				</div>
			</div>
			<div id="Group_17_be">
				<svg class="Rectangle_2_bf">
					<rect id="Rectangle_2_bf" rx="0" ry="0" x="0" y="0" width="281" height="76">
					</rect>
				</svg>
				<div id="n_59-613-6314">
					<span>859-613-6314</span>
				</div>
			</div>
			<div id="Group_16_bh">
				<svg class="Rectangle_2_bi">
					<rect id="Rectangle_2_bi" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Email">
					<span>Email</span>
				</div>
			</div>
			<div id="Group_17_bk">
				<svg class="Rectangle_2_bl">
					<rect id="Rectangle_2_bl" rx="0" ry="0" x="0" y="0" width="280" height="75">
					</rect>
				</svg>
				<div id="michaelwillgmailcom">
					<span>michaelwill@gmail.com</span>
				</div>
			</div>
			<div id="Group_16_bn">
				<svg class="Rectangle_2_bo">
					<rect id="Rectangle_2_bo" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Social_Security_">
					<span>Social Security #</span>
				</div>
			</div>
			<div id="Group_17_bq">
				<svg class="Rectangle_2_br">
					<rect id="Rectangle_2_br" rx="0" ry="0" x="0" y="0" width="281" height="76">
					</rect>
				</svg>
				<div id="n_11-11-1123">
					<span>111-11-1123</span>
				</div>
			</div>
			<div id="Group_16_bt">
				<svg class="Rectangle_2_bu">
					<rect id="Rectangle_2_bu" rx="0" ry="0" x="0" y="0" width="306" height="75">
					</rect>
				</svg>
				<div id="Birthday">
					<span>Birthday</span>
				</div>
			</div>
			<div id="Group_17_bw">
				<svg class="Rectangle_2_bx">
					<rect id="Rectangle_2_bx" rx="0" ry="0" x="0" y="0" width="281" height="75">
					</rect>
				</svg>
				<div id="n_1032000">
					<span>01/03/2000</span>
				</div>
			</div>
			<div id="Group_16_bz">
				<svg class="Rectangle_2_b">
					<rect id="Rectangle_2_b" rx="0" ry="0" x="0" y="0" width="306" height="76">
					</rect>
				</svg>
				<div id="Student_ID">
					<span>Student ID</span>
				</div>
			</div>
			<div id="Group_17_b">
				<svg class="Rectangle_2_ca">
					<rect id="Rectangle_2_ca" rx="0" ry="0" x="0" y="0" width="280" height="76">
					</rect>
				</svg>
				<div id="n_">
					<span>3</span>
				</div>
			</div>
		</div>
		<div id="Page_Title_b">
			<span>Information</span>
		</div>
	</div>
	<div id="Tuition">
		<div id="Tuition_Table">
			<div id="Group_36">
				<div id="Group_25">
					<svg class="Rectangle_3">
						<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Date">
						<span>Date</span>
					</div>
				</div>
				<div id="Group_27">
					<svg class="Rectangle_3_cd">
						<rect id="Rectangle_3_cd" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Amount">
						<span>Amount</span>
					</div>
				</div>
				<div id="Group_26">
					<svg class="Rectangle_3_cg">
						<rect id="Rectangle_3_cg" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Description">
						<span>Description</span>
					</div>
				</div>
			</div>
			<div id="Group_35">
				<div id="Group_25_cj">
					<svg class="Rectangle_3_ck">
						<rect id="Rectangle_3_ck" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_4012023">
						<span>04/01/2023</span>
					</div>
				</div>
				<div id="Group_27_cm">
					<svg class="Rectangle_3_cn">
						<rect id="Rectangle_3_cn" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_500">
						<span>2500</span>
					</div>
				</div>
				<div id="Group_26_cp">
					<svg class="Rectangle_3_cq">
						<rect id="Rectangle_3_cq" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Apr_tuition">
						<span>Apr tuition</span>
					</div>
				</div>
			</div>
			<div id="Group_33">
				<div id="Group_25_ct">
					<svg class="Rectangle_3_cu">
						<rect id="Rectangle_3_cu" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_3012023">
						<span>03/01/2023</span>
					</div>
				</div>
				<div id="Group_27_cw">
					<svg class="Rectangle_3_cx">
						<rect id="Rectangle_3_cx" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_500_cy">
						<span>2500</span>
					</div>
				</div>
				<div id="Group_26_cz">
					<svg class="Rectangle_3_c">
						<rect id="Rectangle_3_c" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="Mar_tuition">
						<span>Mar tuition</span>
					</div>
				</div>
			</div>
			<div id="Group_31">
				<div id="Group_25_c">
					<svg class="Rectangle_3_da">
						<rect id="Rectangle_3_da" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_2012023">
						<span>02/01/2023</span>
					</div>
				</div>
				<div id="Group_27_c">
					<svg class="Rectangle_3_db">
						<rect id="Rectangle_3_db" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_500_c">
						<span>2500</span>
					</div>
				</div>
				<div id="Group_26_c">
					<svg class="Rectangle_3_dc">
						<rect id="Rectangle_3_dc" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Feb_tuition">
						<span>Feb tuition</span>
					</div>
				</div>
			</div>
			<div id="Group_29">
				<div id="Group_25_dd">
					<svg class="Rectangle_3_de">
						<rect id="Rectangle_3_de" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_1012023">
						<span>01/01/2023</span>
					</div>
				</div>
				<div id="Group_27_dg">
					<svg class="Rectangle_3_dh">
						<rect id="Rectangle_3_dh" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_500_di">
						<span>2500</span>
					</div>
				</div>
				<div id="Group_26_dj">
					<svg class="Rectangle_3_dk">
						<rect id="Rectangle_3_dk" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="Jan_tuition">
						<span>Jan tuition</span>
					</div>
				</div>
			</div>
		</div>
		<div id="Page_Title_dm">
			<span>Tuition</span>
		</div>
	</div>
	<div id="Tuition_dn">
		<div id="Tuition_Table_do">
			<div id="Group_36_dp">
				<div id="Group_25_dq">
					<svg class="Rectangle_3_dr">
						<rect id="Rectangle_3_dr" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Date_ds">
						<span>Date</span>
					</div>
				</div>
				<div id="Group_27_dt">
					<svg class="Rectangle_3_du">
						<rect id="Rectangle_3_du" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Amount_dv">
						<span>Amount</span>
					</div>
				</div>
				<div id="Group_26_dw">
					<svg class="Rectangle_3_dx">
						<rect id="Rectangle_3_dx" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Description_dy">
						<span>Description</span>
					</div>
				</div>
			</div>
			<div id="Group_35_dz">
				<div id="Group_25_d">
					<svg class="Rectangle_3_d">
						<rect id="Rectangle_3_d" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_1042023">
						<span>01/04/2023</span>
					</div>
				</div>
				<div id="Group_27_d">
					<svg class="Rectangle_3_ea">
						<rect id="Rectangle_3_ea" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_0">
						<span>10</span>
					</div>
				</div>
				<div id="Group_26_d">
					<svg class="Rectangle_3_eb">
						<rect id="Rectangle_3_eb" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Pizza">
						<span>Pizza</span>
					</div>
				</div>
			</div>
			<div id="Group_33_d">
				<div id="Group_25_ea">
					<svg class="Rectangle_3_ec">
						<rect id="Rectangle_3_ec" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_1032023">
						<span>01/03/2023</span>
					</div>
				</div>
				<div id="Group_27_ed">
					<svg class="Rectangle_3_ee">
						<rect id="Rectangle_3_ee" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_0_ef">
						<span>10</span>
					</div>
				</div>
				<div id="Group_26_eg">
					<svg class="Rectangle_3_eh">
						<rect id="Rectangle_3_eh" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="Pizza_ei">
						<span>Pizza</span>
					</div>
				</div>
			</div>
			<div id="Group_31_ej">
				<div id="Group_25_ek">
					<svg class="Rectangle_3_el">
						<rect id="Rectangle_3_el" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_1022023">
						<span>01/02/2023</span>
					</div>
				</div>
				<div id="Group_27_en">
					<svg class="Rectangle_3_eo">
						<rect id="Rectangle_3_eo" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="n_0_ep">
						<span>10</span>
					</div>
				</div>
				<div id="Group_26_eq">
					<svg class="Rectangle_3_er">
						<rect id="Rectangle_3_er" rx="0" ry="0" x="0" y="0" width="233" height="58">
						</rect>
					</svg>
					<div id="Pizza_es">
						<span>Pizza</span>
					</div>
				</div>
			</div>
			<div id="Group_29_et">
				<div id="Group_25_eu">
					<svg class="Rectangle_3_ev">
						<rect id="Rectangle_3_ev" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_1012023_ew">
						<span>01/01/2023</span>
					</div>
				</div>
				<div id="Group_27_ex">
					<svg class="Rectangle_3_ey">
						<rect id="Rectangle_3_ey" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="n_0_ez">
						<span>10</span>
					</div>
				</div>
				<div id="Group_26_e">
					<svg class="Rectangle_3_e">
						<rect id="Rectangle_3_e" rx="0" ry="0" x="0" y="0" width="233" height="57">
						</rect>
					</svg>
					<div id="Pizza_e">
						<span>Pizza</span>
					</div>
				</div>
			</div>
		</div>
		<div id="Page_Title_e">
			<span>Meals</span>
		</div>
	</div>
	<svg class="Icon_material-add" viewBox="7.5 7.5 36.002 36.002">
		<path id="Icon_material-add" d="M 43.50204849243164 28.07259750366211 L 28.07259750366211 28.07259750366211 L 28.07259750366211 43.50204849243164 L 22.92944717407227 43.50204849243164 L 22.92944717407227 28.07259750366211 L 7.500000953674316 28.07259750366211 L 7.500000953674316 22.92944717407227 L 22.92944717407227 22.92944717407227 L 22.92944717407227 7.500000953674316 L 28.07259750366211 7.500000953674316 L 28.07259750366211 22.92944717407227 L 43.50204849243164 22.92944717407227 L 43.50204849243164 28.07259750366211 Z">
		</path>
	</svg>
	<svg class="Icon_material-add_e" viewBox="7.5 7.5 36.002 36.002">
		<path id="Icon_material-add_e" d="M 43.50204849243164 28.07259750366211 L 28.07259750366211 28.07259750366211 L 28.07259750366211 43.50204849243164 L 22.92944717407227 43.50204849243164 L 22.92944717407227 28.07259750366211 L 7.500000953674316 28.07259750366211 L 7.500000953674316 22.92944717407227 L 22.92944717407227 22.92944717407227 L 22.92944717407227 7.500000953674316 L 28.07259750366211 7.500000953674316 L 28.07259750366211 22.92944717407227 L 43.50204849243164 22.92944717407227 L 43.50204849243164 28.07259750366211 Z">
		</path>
	</svg>
</div>
</body>
</html>